.account-form {
	width: 360px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 0 25px;
}

.form-label {
	display: flex;
	flex-direction: column;
	margin: 0 0 10px;
}

.form-label > span {
	padding: 5px 20px;
}

.form-input {
	background-color: #EEE;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 25px;
	border: 1px solid #DDD;
	color: #000;
}

.form-button {
	margin: 50px 0;
	text-align: center;
	cursor: pointer;
	background-color: #DDD;
	border: 1px solid #CCC;
}

.form-button:hover {
	background-color: #CCC;
	border: 1px solid #BBB;
}

.form-button:active {
	background-color: #BBB;
	border: 1px solid #AAA;
}

.centered-button {
	align-self: center;
}
