#header {
	padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
	z-index: 9999;
	background-color: #FFF;
}

#date {
	width: 320px;
	padding: 10px;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid #DDD;
	font-size: 17px;
	cursor: pointer;
	appearance: none;
}
